DEBUG=1
SECRET_KEY=django-insecure-tallerlogik-local-dev-key-change-in-prod
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DB_NAME=tallerlogik_db
DB_USER=taller_user
DB_PASSWORD=taller_password_secure
DB_HOST=localhost
DB_PORT=5432
REDIS_URL=redis://127.0.0.1:6379/0
