# Framework & Extensions
Django>=5.0,<5.2
django-cors-headers>=4.3.1

# Database Driver
psycopg2-binary>=2.9.9

# Environment & Config
python-dotenv>=1.0.1

# Excel Processing
openpyxl>=3.1.2

# PDF Generation
weasyprint>=61.0

# Asynchronous Tasks & Queues
celery>=5.3.6
redis>=5.0.1

